

.Nosotros{
    padding: 1rem;
    &__título {
        font-family: $fuente-subtitulo;
        margin: 3rem;
        font-size: $xxlarge;
        text-align: center;
    }
    &__info1 {
        font-size: $medium;
        font-family: $fuente-descripcion;
    }
    &__técnica {
        font-family: $fuente-subtitulo;
        margin: 3rem;
        font-size: $xxlarge;
        text-align: center;
    }
    &__técnica2 {
        font-size: $medium;
        font-family: $fuente-descripcion;
    }
    &__info2 {
        font-size: $large;
        font-family: $fuente-info;
        text-align: center;
        color: $color-principal;
        margin-bottom: 2rem;
    }
    &__descripción{
        font-size: $medium;
        font-family: $fuente-descripcion;
    }
}

.Formulario{
    &__btm{
        background-color: $color-principal;
    }
}