.Sucursales {
    padding: 1rem;
    margin-bottom: 4rem;

    &__título {
        @extend .título
    }
}

.Ubicaciones{
    padding: 2rem;
}

.Carrasco {
    padding: 0.5rem;
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img img{
        width: 4rem;
        height: 4rem;
    }
    &__título{
        font-family: $fuente-info;
        font-size: $medium;
        text-align: center;
    }
    &__descripción{
        font-family: $fuente-descripcion;
        font-size: $medium;
    }
}

.Pocitos{
    padding: 0.5rem;
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img img{
        width: 4rem;
        height: 4rem;
    }
    &__título{
        font-family: $fuente-info;
        font-size: $medium;
        text-align: center;
    }
    &__descripción{
        font-family: $fuente-descripcion;
        font-size: $medium;
    }
}

.Malvin {
    padding: 0.5rem;
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img img{
        width: 4rem;
        height: 4rem;
    }
    &__título{
        font-family: $fuente-info;
        font-size: $medium;
        text-align: center;
    }
    &__descripción{
        font-family: $fuente-descripcion;
        font-size: $medium;
    }
}