.Footer {
    font-size: $large;
    background-color: $color-principal;
    color: $color-secundario;
    @include flex (row, space-between, center);
    padding: 2rem;
    font-family: $fuente-info;
    &__link{
        justify-content: end;
        font-family: $fuente-info;
        color: $color-secundario;
        padding-left: 2rem;
    }
    &__img {
        padding-left: 3rem;
    }
    &__img:hover {
        transform: scale(1.3);
    }
    &__info {
        display: flex;
    } 
}




