
.Header{

    &__titulo {
    font-size: $xlarge;
    color: $color-secundario;
    font-family: $fuente-titulo;
    padding-left: 2rem;
    }
    &__menu {
        background-color: $color-principal;
        color:$color-secundario;
        text-decoration: none;
        text-transform: uppercase;    
    }
    &__logo {
        height: 120px;
        width: 120px;
        padding: 1rem;
    }
    .Menu{
        justify-content: end;
        font-family: $fuente-info;
        font-size: $large;
        padding-right: 2rem;
    }
    .Menu__nav a:hover {
        background-color:$color-secundario;
        color: orange;
    }
    
} 





