    /*TABLET*/
 
@media all and (max-width: 991px) { 
    
    
.Home{
    text-align: center;

    &__titulo {
        font-size: $xlarge;
        padding-top: 2rem;
        padding-bottom: 3rem;
        margin: 0rem; }
    &__descripcion {
        padding-bottom: 2rem;
        font-size: $medium; }
    &__descripcion2 {
        font-size: $xlarge;
        padding-bottom: 2rem;
    }
    &__img{
        height: 85%;
        width: 70%;}
    &__link{
        font-size: $small;
        }
    &__flecha {
        height: 3rem;
    }
}

    .Header__titulo {
    display: none; 
    }

    .Ofertas{
    &__titulo {
        font-size: $xlarge;
    } 
    &__descripcion2 {
        font-size: $xlarge;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
    &__img {
    width: 70%;
    height: 80%;}
}

    /*PRODUCTOS - TABLET*/

    .Productos {
        padding: 1rem;
        text-align: center;

        &__titulo {
            margin: 0rem;
            padding-top: 3rem;
            font-size: $xlarge;
        }
    }
    .Cheddar { 
        text-align: center;

        &__img {
            width: 50%;
     
        }
        
        &__titulo {
            padding-top: 1rem;
            font-size: $large;
        }
        
        &__info {
            font-size: $medium;
        }
    }
    .Classic { 
        text-align: center;

        &__img {
            width: 40%;
            height: 50%;
        }
        
        &__titulo {
            font-size: $large;
            padding-top: 4rem
        }
        
        &__info {
            font-size: $medium;
        }
    }
    .Crispy { 
        text-align: center;

        &__img {
            width: 45%;
        }
        
        &__titulo {
            font-size: $large;
            padding-top: 4rem
        }
        
        &__info {
            font-size: $medium;
        }
    }
    .Galery{ 
        padding: 2rem;
    }
    
    .Footer{
        text-align: center;
    }


    .Sucursales {
    
        &__titulo {
        font-size: $xlarge;
    }
    }

    .Promos {
    
        &__titulo {
        font-size: $xlarge;
        }
    }

    .Nosotros{
    text-align: center;

    &__titulo {
        font-size: $xlarge;
    }
    &__técnica {
        font-size: $xlarge;
    }
    } 
}

    /*MOBILE*/

    @media all and (max-width: 577px) { 

    /*HOME MOBILE*/

    .Body{
        }
    
    .Header{
        &__logo {
            height: 80px;
            width: 80px;
            padding: 0.5rem;
        }
        &__titulo{
            display: none;
        }
    }
    .News{
        padding: 0rem;
    }
    .Home{
        text-align: center;

        &__titulo {
            margin: 0rem;
            margin-bottom: 3rem;
            font-size: $medium;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 0rem;
        }
        &__descripcion {
            padding-bottom: 0.5rem;
            font-size: $small;   
        }
        &__descripcion2 {
            font-size: $medium;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        &__img{
            height: 85%;
            width: 85%;
        }
        &__link{
        font-size: $small;
        padding-top: 3rem;
        }
    }
    .Ofertas{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        &__titulo {
            font-size: $medium;
            padding-bottom: 2rem;
        }
        &__img {
            width: 80%;
            height: 80%;
        }
        &__descripcion {
            font-size: $small;
            padding-bottom: 1rem;
            font-family: $fuente-descripcion;
        }
        &__descripcion2 {
            font-size: $medium;
            padding-top: 1rem;
            font-family: $fuente-info;
            padding-bottom: 1rem;
        }
        &__link{
            font-size: $medium;
            color: $color-principal;
            text-decoration: none;
            padding-top: 2rem;
            font-family: $fuente-info; 
        }
        &__flecha {
            padding-left: 0.1rem;
            height: 2rem;
            transition: all 200ms;
            position: relative;
        }
        &__flecha:hover {
            transform: scale(1.6);
        }
    }
        
    .Menu {
        font-size: $xsmall;
        padding: 0;
    }

            /*PRODUCTOS - MOBILE*/

     .Productos {

        &__titulo {
            margin: 1rem;
            padding-top: 1rem;
  
            font-size: $medium;
            text-align: center;
        }
    
    }

    .linea{
        display: inline;
    }
    .Cheddar { 
        text-align: center;

        &__img {
            width: 70%;
     
        }       
        &__titulo {
            padding-top: 0rem;
            font-size: $medium;
            margin-bottom: 2rem;
        }
        
        &__info {
            font-size: $small;
        }
    }
    
    .Classic { 
        text-align: center;

        &__img {
            width: 60%;
            height: 45%;
        }
        &__titulo {
            font-size: $medium;
            padding-top: 1rem
        }
        
        &__info {
            font-size: $small;
        }
        &__precio{
            font-size: $medium;
        }
    
    }

    .Crispy { 
        text-align: center;

        &__img {
            width: 65%;
        }
        &__titulo {
            font-size: $medium;
            padding-top: 1rem
        }
        
        &__info {
            font-size: $small;
            margin-bottom: 1rem;
        }
    }
    
    .Galery{ 
        padding: 2rem;
    }
    
    .Footer{
        font-size: $xsmall;
        text-align: center;
        
        &__info{
            gap: 70px;
            width: 100%;
        }
        &__redes{
            display: none;
        }
        &__link{
            display: none;
        }
        &__img {
            height: 45px;
            padding: 0rem;
            width: 100%;
        }
    }

    /*PROMOCIONES*/

    .Promos {
        padding: 0rem
        ;
        &__titulo {
            margin: 0rem;
            padding-top: 1rem;
            margin-bottom: 1rem;
            font-size: $medium;
            text-align: center;
        }
        &__info2{
            font-size: $small;
        }
    }    

    .Lunes {
        &__img {
            width: 70%;
            height: 70%;
        }
        &__titulo {
            font-size: $medium;
        }
    }
    
    .Martes {
        &__img {
            width: 70%;
            height: 70%;
        }
        &__titulo {
            font-size: $medium;
        }
    }
    
    .Miercoles {

        &__img {
            width: 70%;
            height: 70%;
        }
        &__titulo {
            font-size: $medium;
        }
    }
    
    .Jueves {
        &__img {
            width: 70%;
            height: 70%;
        }
        &__titulo {
            font-size: $medium;
        }
    }

    /*NOSOTROS*/

    .Nosotros{
        text-align: center;
        &__titulo {
            margin: 0rem;
            font-size: $medium;
            margin-bottom: 2rem;
        }
        &__info1 {
            margin: 0rem;
            font-size: $small;
            margin-bottom: 2rem;
        }
        &__info2 {
            font-size: $medium;
            margin-bottom: 2rem;
        }
        &__descripcion{
            font-size: $small;
        }
        &__técnica {
            font-size: $medium;
            margin: 0rem;
            margin-bottom: 2rem;
        }
        &__técnica2 {
            font-size: $small;
            margin: 0rem;
            margin-bottom: 2rem;
        }
 
    }
    .Main{
        padding-bottom: 3rem;
        margin: 1rem;
    }


    /*SUCURSALES*/

.Sucursales {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;

    &__titulo {
        margin-bottom: 2rem;
        font-size: $medium;
        text-align: center;
        margin: 0rem;
        padding-top: 1rem;
    }
}


.Ubicaciones{
    padding: 2rem;
}

.Carrasco {
    padding-right: 1rem;

    &__img img{
        width: 3rem;
        height: 3rem;
    }
    &__titulo{
        font-size: $medium;
        text-align: center;
    }
    &__descripcion{
        font-size: $small;
    }
}

.Pocitos{
    
    &__img img{
        width: 3rem;
        height: 3rem;
    }
    &__titulo{
        font-size: $medium;
        text-align: center;
    }
    &__descripcion{
        font-size: $small;
    }
}

.Malvin {

    &__img img{
        width: 3rem;
        height: 3rem;
    }
    &__titulo{
        font-size: $medium;
    }
    &__descripcion{
        font-family: $fuente-descripcion;
        font-size: $small;
    }
}

}