/*COLORES*/

$color-principal: rgb(223, 99, 5);
$color-secundario: black;
$color-terciario: white;

/*FONT FAMILY*/

$fuente-titulo: 'Press Start 2P', cursive;
$fuente-subtitulo: 'Anton', sans-serif;
$fuente-descripcion:'Albert Sans', sans-serif;
$fuente-info: 'Oswald', sans-serif;

/*TAMAÑOS*/

$xsmall: 1rem;
$small: 1.2rem;
$medium: 1.5rem;
$large: 1.7rem;
$xlarge: 2rem;
$xxlarge: 2.5rem;